.f-s16{
    font-size:16px;
}
.menu-image{
    height:175px;
    background-size:cover !important;
    background-position: center !important;
}
.menu-inner{
    width:90%;
    margin:0 auto;
    position: relative;
}
.profile-image{
    border-radius: 50%;
    width:64px;
    margin-top:39px;
    height:64px;
    background-size:cover !important;
    background-position: center !important;
    float:left;
}
.menu-inner .input-field{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 25px;
    color:white;
}
.menu-inner .input-field span{
    color:white;
}
.menu-inner .select-wrapper input.select-dropdown{
    border-bottom:0px;
    margin-bottom:0;
}
.menu-inner .input-field .dropdown-content span{
    color:#444;
}
.side-nav{
    color:#404040;
}
.main-menu i{
    font-size: 20px;
    color: #969696;
    margin-right: 23px;
    transition:all 0.2s;
    position: relative;
    top: 2px;
}
.main-menu *{transition:all 0.2s;}
.main-menu li:hover a, .main-menu li:hover a i{
    color:#0393d5;
}
/*.side-nav{
    width:305px;
}*/
nav{
    background:#333238;
    width: auto;
    padding: 0 4%;
    position: relative;
    z-index: 1;
    height:auto;
    padding-top: 20px;
    overflow: hidden;
}
.logo img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.seacrh-icon i{
    background:url(../img/search.png);
    width:17px;
    height:17px !important;
    position: relative;
    top:-8px;
}
nav .cart-icon i{
    background:url(../img/cart.png);
    width:17px;
    height:19px !important;    
    position: relative;
    top:-10px;
}
.filter-icon i{
    background: url(../img/filter.png);
    width: 16px;
    height: 16px !important;
    position: relative;
    top: -7px;
}
.share-icon i{
    background:url(../img/share.png);
    width:16px;
    height:16px !important;
    position: relative;
    top:-6px;
}
.right-buttons{
    float:right;
    font-size: 0px;
}
.right-buttons a{
    margin-left:23px;
}
.cart-icon{
    position: relative;
}
.cart-icon .count-poducts{
    position: absolute;
    background: #03a9f4;
    color: white;
    width: 16px;
    height: 16px;
    line-height: 17px;
    border-radius: 50%;
    font-size: 11px;
    top: -4px;
    text-align: center;
    right: -8px;
}
.right-buttons i{
    height:auto;
    line-height: normal !important;
}
.tabs-nav{
    background:#333238;
    color:#c2c2c4;
    font-size:14px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    width:100%;
    position: relative;
    z-index: 2;
}
.tabs-nav div{
    text-align: center;
    float:left;
    white-space: nowrap;
    cursor: pointer;
}
#test2:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background: #333238;
    z-index: -1;
}
.tabs-windows{
    width:100%;
    clear: both;
}
.tabs-nav div.active{
    color:white;
    box-shadow: 0px -2px 0px white inset;
}
.tabs-nav.bt-3 div{
    width:33.3333%;
}
.tabs .tab a{
    color:#d0d0d1;
}
.tabs .tab a:hover, .tabs .tab a.active{
    color:white;
}
.tabs .indicator{
    background:white;
    display: none;
}
nav .nav-wrapper{
    overflow: hidden;
}
.inner{
    width: 94%;
    margin:0 auto;
}
.owl-carousel{
    background:#f9f9f9;
    padding-top:20px;
    padding-bottom: 10px;
}
.owl-carousel .owl-pagination .owl-page{
    background:#e7e7e7;
    height:8px;
    width:8px;
    border-radius: 50%;
    margin:10px 1px 0px 1px;
    transition:all 0.3s;
    display: inline-block;
}
.owl-carousel .owl-pagination{
    text-align: center;
}
.owl-carousel .owl-pagination .owl-page.active{
    background:#03a9f4;
}
.custom-button{
    background:#03a9f4;
    border-radius: 2px;
    padding: 4px 20px;
    color:white;
}
.slide .image{
    float: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}
.slide .image img{
    max-width:100%;
    max-height:150px;
}
.slide .description{
    padding-left:50%;
}
.slide .description .title{
    font-size:12px;
    color:#404040;
}
.slide .description ul{
    font-size:10px;
    margin: 3px 0;
    color:#666666;
}
.slide .description ul li:before{
    content:'- ';
}
.slide .description .price{
    font-size: 14px;
    color:#404040;
    font-weight: bold;
    margin:5px 0;
}
.slide .description .custom-button{
    font-size: 10px;
    padding: 5px 23px;
}
.inner h2{
    font-size:16px;
    color:black;
}
.inner h1{
    font-size:20px;
    color:black;
    font-weight: 500;
    
}
.products-table{
    display: table;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #DCDCDC;
}
.products-table>div{
    display: table-row;
}
.products-table>div>a{
    display: table-cell;
    border-bottom:1px solid #dcdcdc;
    padding: 14px;
}
.products-table>div>a:first-child{
    border-right:1px solid #dcdcdc;
}
.products-table .type-tovar{
    color:#9a9a9a;
    font-size:12px;
}
.products-table .title{
    color:#404040;
    font-size:14px;
    line-height: 17px;
    font-weight: 500;
}
.products-table .image{
    text-align: center;
    height:94px;
    margin-bottom:10px;
}
.products-table .image img{
    max-height:95%;
    max-width:100%;
}
.products-table .price{
    color:#404040;
    font-size:20px;
    font-weight:500;
    text-transform: uppercase;
}
.categories-list{
    text-align: center;
}
.categories-list>div{
    padding:20px 0;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
}
.categories-list>div:before{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.6);
}
.categories-list>div .title{
    color:white;
    font-size:16px;
    color:#ffffff;
}
.categories-list>div .count{
    font-size:13px;
    color:#eee;
}
.categories-list>div .inner{
    position: relative;
}
.tabs-products{
    margin-bottom:0px;
}
.news-list>div{
    border-bottom:1px solid #ededed;
    border-top:1px solid #f9f9f9;
    padding:14px 0;
    overflow: hidden;
}
.news-list .image{
    width:72px;
    height:72px;
    background-size: cover !important;
    background-position: center !important;
    float:left;
}
.news-list .description{
    padding-left:88px;
}
.date{
    font-size:12px;
    color:#9a9a9a;
}
.news-list .title{
    font-size:14px;
    line-height: 18px;
    font-weight: 500;
}

@-webkit-keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 500;
  opacity: 0;
}
.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  float: left;
  margin-left: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
          animation: delay 0.8s infinite ease-in-out;
}
.loader .bar1 {
  background-color: #754fa0;
}
.loader .bar2 {
  background-color: #09b7bf;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.loader .bar3 {
  background-color: #90d36b;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.loader .bar4 {
  background-color: #f2d40d;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.loader .bar5 {
  background-color: #fcb12b;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loader .bar6 {
  background-color: #ed1b72;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

main {
  height: 100vh;
  /* padding: 10px; */
  text-align: center;
}
main .-content {
  position: relative;
  height: 100vh;
}
main .-content > div {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
main .-content.-index {
  background-color: #f6f6f6;
  display: table;
  width: 100%;
}
main .-content.-index > div {
  display: table-cell;
  vertical-align: middle;
}
.page-layout{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow: auto;
}
.slide-page{
    width:100%;
    background:white;
    position: fixed;
    bottom:0;
    top:0;
    right:-100%;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
    transition:all 0.3s;
}
.slide-page.active{
    right:0;
}
.header-page-image{
    width:100%;
    height:270px;
    position: relative;
    background-size:cover !important;
    background-position: center !important;
}
.header-page-image:before{
    content:'';
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0, 0, 0, 0.61);
}
.header-page-image .middle-text{
    position: absolute;
    top:50%;
    text-align: center;
    left:50%;
    transform: translate(-50%, -41%);
    width: 90%;
}
.header-page-image .middle-text .title{
    color:white;
    font-size:20px;
}
.header-page-image .middle-text .date{
    font-size:14px;
    margin-top:5px;
    color:#ccc;
}
.nav-no-bg-page{
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0 0 0;
}
.back {
    float: left;
    font-size: 0px;
    padding: 0px 8px;
}
.back i{
    height:auto;
    background:url(../img/back-arrow.png);
    width:9px;
    height:17px !important;
    position: relative;
    top: -7px;
    line-height: normal !important;
}
.content img{
    width:100%;
}
.logo-text {
    font-size: 17px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.title-menu{
    font-size: 16px;
    position: absolute;
    left: 40px;
    right: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 58px;
    height: 56px;
}
.caregory-2-list>div{
    width: 50%;
    padding: 2%;
    float: left;
    text-align: center;
    line-height: 17px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: -1px 1px 0px #dcdcdc;
}
.caregory-2-list>div .image{
    height:62px;
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
    text-align: center;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{
    box-shadow:0 0 0;
}
.caregory-2-list>div .image img{
    max-height:100%;
    max-width:80%;
}
.caregory-2-list>div .title{
    margin:10px 0;
    height: 34px;
    overflow: hidden;
}
.slide-page .products-table{
    border-radius: 0px;
    margin-bottom:0;
}
.sorted{
    background:#fafbfb;
    text-align: justify;
    height: 51px;
    overflow: hidden;
}
.sorted .inner:after{
    content:'';
    display: inline-block;
    width:100%;
    padding: 0;
}
.sorted>div>div{
    color: #bbbcbc;
    text-transform: uppercase;
    padding: 15px 0;
    display: inline-block;
    transition: all 0.3s;
}
.sorted div.active{
    color:black;
}
.image-carousel{
    height:100%;
    margin-top:0;
    padding-top:0;
    background:#404040;
}
.image-slide{
    height:270px;
    background-size:cover !important;
    background-position: center !important;
}
.image-carousel .owl-pagination{
    text-align: center;
    position: absolute;
    bottom: 6px;
    width: 100%;
}
.info-element{
    padding:20px 0px;
    margin-bottom:6px;
}
.f-12-title{
    color:#9a9a9a;
    font-size:12px;
}
.f-14-gray-title{
    color:#9a9a9a;
    font-size:14px;
}
.title-product{
    color:#404040;
    font-size:14px;
    font-weight: 500;
}
.rating {
    margin-top:10px;
}
.rating .stars{
    width:68px;
    height:16px;
    background:url(../img/star-1.png);
    float:left;
    margin-right: 8px;
}
.count-reviews{
    font-weight: 100;
    position: relative;
    top: -2px;
}
.rating .stars>div{
    float:left;
    background:url(../img/star-2.png);
    width:17px;
    height:16px;
}
.right-col-product .price{
    font-size:20px;
    font-weight: 500;
    color:#404040;
    white-space: nowrap;
}
.count-select{
    float:right;
    margin-top:5px;
    white-space: nowrap;
    border-radius: 3px;
    border:1px solid #e6e6e6;
}
.count-select span{
    width:25px;
    height:22px;
    display: block;
    float:left;
    text-align: center;
    border-right:1px solid #e6e6e6;
    line-height: 22px;
}
.count-select span:last-child{
    border-right:none;
}
.count-select  .bt-count{
    width:22px;
    cursor: pointer;
    height:22px;
}
.waves-custom .waves-ripple{
    background-color: #03a9f4;
}
.title-content{
    font-size: 14px;
    text-transform: uppercase;
    color:#000000;
    font-weight: 500;
}
.slide-button{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #f2f2f2;
    text-align: center;
    margin: 0 auto;
    line-height: 52px;
    display: block;
    transition: all 0.3s;
}
.slide-button i{
    font-size: 30px;
    color: #757575;
}
.slide-button.active{
    transform:rotate(-180deg);
}
.slided{
    position: relative;
    max-height: 124px;
    overflow: hidden;
    margin-bottom: 15px;
    transition:all 0.4s;
}
.slided.active{
    max-height:999px;
}
.slided.active:after{
    opacity:0;
}
.slided:after{
    content:'';
    display: block;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    transition:all 0.3s;
    height: 60px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.features li{
    padding: 2px 0;
}
.features li span{
    float:right;
}
.review .name{
    font-weight: 500;
    float: left;
    position: absolute;
    left: 3%;
    right: 90px;
    margin-right: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 33px;
}
.review .image{
    width:32px;
    height:32px;
    border-radius: 50%;
    background-position: center !important;
    background-size:cover !important;
    background:url(../img/no-photo.jpg);
    display: block;
    float: left;
    margin-right: 14px;
}
.review{
    overflow: hidden;
    margin:10px 0;
}
.review .rating{
    float:right;
    margin-top: 9px;
}
.review-text{
    clear: both;
    padding: 5px 0;
}
.margin-0{
    margin:0;
}
.product-reviews{
    clear: both;
}
.product-reviews>.review{
    border-bottom:1px solid #dcdcdc;
    padding-top:10px;
}
.product-reviews>.review:last-child{
    border-bottom:none;
}
.float-left{
    float:left;
}
.addReview{
    background: #f8f8f8;
    border-top: 1px solid #dcdcdc;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.showAll i{
    transform: rotate(-90deg);
    font-size: 20px;
    position: relative;
    top: 3px;
}
.showAll {
    float: right;
    font-size:12px;
    color:black;
    opacity:0.5;
    transition:all 0.3s;
    margin-top: -2px;
    text-transform: uppercase;
}
.showAll:hover{
    opacity:0.8;
}
.custom-color{
    background:#03a9f4;
}
.custom-color-text{
    color:#03a9f4;
}
.btn-floating:hover{
    background: #0087C3;
}
.add-to-cart-fixed{
    position: fixed;
    right:15px;
    display: none;
    bottom:26px;
    line-height: 62px;
}
.active .add-to-cart-fixed{
    display: block;
}
#clear-filter{
    font-size:13px;
    position: relative;
    top: 3px;
}
.filter-list{
    padding-top:10px;
}
.bottom-info{
    background:#f8f8f8;
    border-top:1px solid #dcdcdc;
    padding:10px 0;
    overflow: hidden;
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    display: none;
    z-index: 3;
}
.active .bottom-info{
    display: block;
}
.bottom-info .custom-button{
    float:right;
    padding: 6px 40px;
}
.filter-list>div{
    border-bottom:1px solid #dcdcdc;
    padding:12px 10px;
}
.filter-list .title{
    color:#404040;
    font-size:16px;
    font-weight: 500;
}
.itogo{
    float:left;
    margin-top: 6px;
    font-size:14px;
    font-weight: 500;
    color:#9a9a9a;
}
.filter-list .input-field{
    margin-top:0;
}
.filter-list .select-wrapper input.select-dropdown{
    margin-bottom:0;
    border-bottom:0px;
}
.dropdown-content li > a, .dropdown-content li > span{
    color:#03a9f4;
}
#reviews .addReview{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    display: none;
}
.active #reviews .addReview{
    display: block;
}
.about-element{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 10%;
    padding-top: 70px;
}
.copyright{
    color:#bcbbbd;
    font-size:14px;
}
.copyright .white-color{
    color:white;
}
.copyright a{
    color:#03a9f4;
    text-decoration: underline;
}
.about-title{
    font-size:16px;
    color:white;
    margin:30px 0;
}
.about-element img{
    margin:50px 0px 0px 0px
}
.bottom-copyright {
    position: absolute;
    bottom: 3%;
    color: white;
    font-weight: 100;
    left: 0;
    right: 0;
}
nav .title-menu .input-field input{
    padding-left: 0;
    border-bottom: 1px solid #545454 !important;
    padding-bottom: 7px !important;
}
nav .title-menu .row .col{
    padding:0;
}
.search-list{
    padding:10px 0;
}
.search-list>div{
    padding:15px 10%;
    font-weight: 500;
    border-bottom: 1px solid #F9F9F9;
}
.error-search{
    padding:30px 10%;
}
.cart-list>div{
    padding:25px 0;
    position: relative;
    border-bottom:1px solid #dcdcdc;
    overflow: hidden;
}
.cart-list .image{
    width:60px;
    height:52px;
    text-align: center;
    float:left;
}
.cart-list .image img{
    max-height:100%;
    max-width:100%;
}
.cart-list .price{
    font-size:18px;
    color:#404040;
    line-height: 39px;
}
.cart-list .description{
    padding-left:80px;
}
.cart-list .description .type-product{
    font-size:12px;
    color:#9a9a9a;
}
.cart-list .count-select .bt-count{
    width: 31px;
    height: 26px;
}
.cart-list .count-select span{
    height: 26px;
    line-height: 26px;
}
.cart-list .description .title{
    color:#404040;
    font-size:14px;
    line-height:18px;
    font-weight: 500;
}
.itog-prices{
    font-size:14px;
    color:#9a9a9a;
    font-weight: 500;
    padding-bottom:60px;
}
.itog-prices span{
    float:right;
}
.itog-prices li{
    padding:5px 0;
}
.cart-price{
    margin-right: 3%;
}
.cart-price .price{
    font-size:16px;
}
@media screen and (max-height:460px){
    .bottom-copyright{
        display: none;
    }
}
.w-100{
    display: block;
    padding:6px 0;
    margin:0 0.75em;
    text-transform: uppercase;
    text-align: center;
    clear: both;
}
.cart-inputs{
    padding-top:20px;
    padding-bottom: 30px;
}
.cart-inputs .clear{
    width:100%;
    float:left;
    margin-bottom:20px;
}
.cart-inputs .row{
    margin:0;
}
input[type="text"]{
    border-bottom:1px solid #e0e0e0;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}
input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
    color:#03a9f4;
}
.cart-inputs .select-wrapper input.select-dropdown{
    border-bottom:1px solid #e0e0e0;
}
.step-cart-2{
    display: none;
}
.dependent{
    display: none;
}
.auth-form, .register-form{
    text-align: left;
    padding-top:30px;
    padding: 10%;
}
.register-box{
    display: none;
    
}
.col-2{
    width:100%;
    clear: both;
}
.col-2>div{
    width:50%;
    float:left;
}
.col-2>div:nth-child(2){
    float:right;
}
.no-bg{
    background:none;
}
#auth .about-element{
    padding:0%;
    padding-top: 40px;
    bottom:50px;
}
#auth .about-element .custom-button {
    white-space: nowrap;
    font-size: 12px;
    padding:9px 0;
}
.or{
    width: 73%;
    clear: both;
    color: white;
    position: relative;
    padding-top: 0px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 16px;
}
.or span{
    position: relative;
    opacity:0.8;
    display: inline-block;
}
.or span:before{
    content: '';
    display: block;
    width: 999px;
    right: -1010px;
    position: absolute;
    background: white;
    height: 1px;
    top: 12px;
    opacity:0.4;
}
.or span:after{
    content: '';
    display: block;
    width: 999px;
    left: -1010px;
    position: absolute;
    background: white;
    height: 1px;
    top: 12px;
    opacity:0.4;
}
.social-auth{
    clear: both;
    margin: 0 auto;
    width: 73%;
    padding-top: 27px;
}
.social-auth>a{
    width:48%;
    border-radius: 2px;
    display: block;
    text-align: center;
    float:left;
    color:white;
    margin-bottom:16px;
    padding:7px 0;
}
.social-auth>a:nth-child(2){
    float:right;
}
.social-auth>a i{
    font-size: 19px;
}
.social-auth>a.vk{background:#4c75a3;}
.social-auth>a.fb{background:#3b5998;}
.full-bg-1{
    background: url(../img/about-bg.jpg) center;
    background-size: cover;
    text-align: center; 
}
.to-registrate, .to-login{
    position: relative;
    margin-top:25px;
    width:100%;
    color: rgba(255, 255, 255, 0.77);
    text-align: center;
    padding: 14px 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.about-element .input-field{
    margin-top:0;
}
#personal-cab .tabs-window .custom-button{
    width: 82%;
    margin: 0 auto;
    margin-bottom:30px;
    padding: 10px 0;
    text-transform: none;
}
#history-payments .title{
    font-size:16px;
}
#personal-cab .tabs-window .search-list{
    padding-bottom: 30px;
}
input[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid  #03a9f4;
    background-color:  #03a9f4;
}
input[type="checkbox"] + label{display: block;}
.price-filter>div{
    border:0;
}
.share{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 4;
    display: none;
}
.active .share.active{
    display: block;
}
.share-overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.7);
}
.share-content{
    background:white;
    position: absolute;
    bottom:0px;
    padding: 5%;
    overflow: hidden;
    left:0;
    right:0;
}
.share-content>div{
    float: left;
    width: 33.3333333333333333%;
    text-align: center;
}
.share-content>div .image{
    height:80px;
    position: relative;
}
.share-content>div .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product-tabs li.tab{
    display: inline-block;
    width: auto;
    float: none;
}
.product-tabs ul{
    text-align: justify;
    width:100%;
    background:none;
    border-bottom:1px solid #e0e0e0;
    border-top:1px solid #e0e0e0;
}
.product-tabs ul a:hover, .product-tabs ul a.active{
    color:black !important;
}
.product-tabs + .tabs-window{
    padding-bottom: 70px;
}
.full-bg-1 .back i{
    background: url(../img/remove-image.png);
    width: 17px;
}
.about-element input[type="text"], .about-element input[type="password"]{
    border: 1px solid rgba(255, 255, 255, 0.52);
    border-radius: 3px;
    color:white;
    text-indent: 18px;
}
.info-payment .cart-list .description{
    padding-right:0;
}
.cart-list .count-select{
    float:left; 
    margin-right: 14PX;
}
.remove-element{
    background: #ff3b30 url(../img/remove-icon.png) center no-repeat !important;
    position: absolute;
    top: 7px;
    right: -70px;
    opacity:0;
    transition: all 0.3s;
}
.cart-list>div .inner{
    position: relative;
    transition:all 0.3s;
    left:0;
}
.cart-list>div.swipped-left .inner{
    left:-70px;
}
.cart-list>div.swipped-left  .inner .remove-element{
    opacity:1;
    right:-55px;
    transition: all 0.3s 0.2s;
}
